@model List<CarBook.Dto.TagCloudsDtos.GetTagCloudsByBlogIdDto>

<div class="sidebar-box ftco-animate">
    <h3>Etiket Bulutu</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <a href="#" class="tag-cloud-link">@item.Title.ToLower()</a>
        }
       
    </div>
</div>